@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<BanHang.Context.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .pagination a {
        color: black;
        float: left;
        padding: 12px 18px;
        text-decoration: none;
    }
        /* set the style for the active class */
        .pagination a.active {
            background-color: dodgerblue;
            color: white;
            /*Circle Design with CSS*/
            border-radius: 50%;
        }
        /* add background color when user hovers on inactive class */
        .pagination a:hover:not(.active) {
            background-color: #ddd;
            border-radius: 50%;
        }
</style>

<h2>Quản lý sản phẩm</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>

@using(Html.BeginForm("Index","Product", FormMethod.Get))
{
     <p>
        Tìm tên sản phẩm: @Html.TextBox("SeachString", ViewBag.CurrentFilter as string) 
        <input type="submit" value="Tìm kiếm"/>
     </p>
}

<table class="table">
    <tr>
        <th>           
            @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryId)

        </th>
        <th>            
            @Html.DisplayNameFor(model => model.FirstOrDefault().BrandId)
        </th>
        <th>           
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th> 
            @Html.DisplayNameFor(model => model.FirstOrDefault().Avatar)
        </th>

        <th>           
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShortDes)
        </th>
        <th>            
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>           
            @Html.DisplayNameFor(model => model.FirstOrDefault().PriceDiscount)
        </th>
        
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avatar)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ShortDes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceDiscount)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>


Trang @(Model.PageCount<Model.PageNumber ? 0:Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model,page=>Url.Action("Index",new {page,currentFilter=ViewBag.CurrentFilter}))